<nav-header-common
        pagename="Profile"
        statename="profile"
        uid="model.user._id">
</nav-header-common>

<div class="container-fluid">
    <h1>Profile</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <label for="first">First Name</label>
    <input ng-model="model.user.firstName"
           id="first"
           class="form-control"
           type="text"
           placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName"
           id="last"
           class="form-control"
           type="text"
           placeholder="Last Name"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           class="form-control"
           type="email"
           placeholder="Email"/>

    <label>Username</label>
    <input ng-model="model.user.username"
           class="form-control"
           type="text"
           placeholder="Username"/>

    <label>Password</label>
    <input class="form-control" type="password" placeholder="Password"/>

    <a ui-sref="website({uid:model.user._id})" class="btn btn-success btn-block">
        Websites
    </a>

    <a ng-click="model.update(model.user)"
       class="btn btn-primary btn-block">
        Update
    </a>

    <a class="btn btn-danger btn-block" href="#/login">
        Logout
    </a>
</div>


