
        <h1>Register</h1>
        <form>
        <label for="Username">Username</label>
        <input type="text"
               id="Username"
               class="form-control"
               placeholder="Username"/>
        <label for="Password">Password</label>
        <input type="password"
               id="Password"
               class="form-control"
               placeholder="Password"/>
        <label for="Verify_Password">Re-Type Password</label>
        <input type="password"
               id="Verify_Password"
               class="form-control"
               placeholder="Verify Password"/>
        <a class="btn btn-primary btn-block"
           ui-sref="profile({uid: 1})">Register</a>
        <a class="btn btn-danger btn-block"
           ui-sref="login">Cancel</a>
        </form>