<h1>IMAGE Editor</h1>
<div class="container-fluid">
    <div class="alert alert-danger fade in" ng-show="model.error">
        <a href="#" class="close" ng-click="model.alertOpenClose(model.error)">&times;</a>
        {{model.errorMessage}}
    </div>

    <div class="alert alert-success fade in" ng-show="model.success">
        <a href="#" class="close alert-close" ng-click="model.alertOpenClose(model.success)">&times;</a>
        {{model.successMessage}}
        Click <a ui-sref="widget({uid: model.userId, wid: model.websiteId, pid: model.pageId})">here</a> to view your
        Widget Page
    </div>
</div>
<div class="container">

    <form>

        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Image Name" ng-model="model.widget.name">

        <label for="text">Text</label>
        <input type="text" class="form-control" id="text" placeholder="Image Desc" ng-model="model.widget.description">


        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" placeholder="Image URL" value="URL here!"
               ng-model="model.widget.url">

        <label for="width">Width</label>
        <input type="text" class="form-control" id="width" placeholder="Image Width" value="100%"
               ng-model="model.widget.width">

        <label for="upload">Upload</label>
        <input type="file" class="form-control" id="upload">


        <a class="btn btn-primary btn-block"
           ng-click="model.createWidget()">Create Image</a>
    </form>
</div>