/*
For varying font-size in different view ports
idea from here: https://css-tricks.com/viewport-sized-typography/
*/

input.form-control {
    margin-bottom: 20px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

a:hover{
    text-decoration: none;
}



h1{
    font-size: 7vh;
}


/* Navbar Styling */

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-text{
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-link {
    color: white;
}

.navbar-default .navbar-brand a{
    color: white;
}

@media screen and (min-width: 768px) {
    .navbar-fixed-bottom .pull-right {
        position: absolute;
        right: 1%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-fixed-bottom .pull-right {
        position: absolute;
        right: 1%;
    }
}


/* List Group Styling */

.list-group-item{
    border: none;
}