<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" ui-sref="website-new({uid: model.userId})">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link" ui-sref="profile({uid: model.userId})">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-new-website navbar-new-website-profile">Websites</div>
        </div>
    </div>
</nav>

<div class="container-fluid">


    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-5 col-sm-6">
                    Name
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </div>
                <div class="col-sm-3 hidden-xs">
                    Last Modified
                </div>
                <div class="col-sm-2 hidden-xs">
                    Owner
                </div>
                <div class="col-xs-7 col-sm-1">
                    <a ui-sref="website-new({uid: model.userId})" class="pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites track by $index" class="list-group-item">
            <div class="row">
                <div class="col-xs-5 col-sm-6">
                    <a ui-sref="page({uid: model.userId, wid: website._id})">
                        {{website.name}}
                    </a>
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{website.updatedAt | date}}
                </div>
                <div class="col-sm-2 hidden-xs">
                    {{website._user}}
                </div>
                <div class="col-xs-7 col-sm-1">
                    <a ui-sref="website-edit({uid:model.userId,wid:website._id})">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav-footer-common
        uid="{{model.userId}}">
</nav-footer-common>
