<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" ui-sref="widget({uid: model.userId, wid: model.websiteId,pid: model.pageId})">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-new-website">Create Widget</div>
        </div>
    </div>
</nav>

<ul class="list-inline">
    <li ng-repeat="widgetType in model.widgetTypes">
        <a ui-sref="widget-new-specific({uid: model.userId, wid: model.websiteId, pid: model.pageId, specific: widgetType})">{{widgetType}}</a>
    </li>
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <div ng-show="model.showOptions">Please choose one of the above widgets</div>
        <div class="container-fluid"
             ng-include="model.getCreatorTemplateUrl(model.widgetTypeSelected)">
        </div>
    </div>
</div>

<nav-footer-common
        uid="{{model.userId}}">
</nav-footer-common>