<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" ui-sref="widget({uid: model.userId, wid: model.websiteId,pid: model.pageId})">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link" ui-sref="widget-new({uid: model.userId, wid: model.websiteId, pid: model.pageId})">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-new-website">Widget Editor</div>
        </div>
    </div>
</nav>


<div class="container-fluid" id="editor"
     ng-include src="model.editorURL">
</div>

<nav-footer-common
        uid="{{model.userId}}">
</nav-footer-common>
