<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="widget-list.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widget Edit</a>
        </div>
    </div>
</nav>

<div class="container">

    <form>

            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Video Name">

            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="Video Desc">

            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="Video URL" value="URL here!">

            <label for="width">Width</label>
            <input type="text" class="form-control" id="width" placeholder="Video Width">
        <a class="btn btn-danger btn-block" href="widget-list.html">Delete</a>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand pull-right navbar-link" href="../user/profile.html">

                <span class="glyphicon glyphicon-user"></span>

            </a>

        </div>
    </div>
</nav>