<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" ui-sref="widget-new({uid: model.userId, wid: model.websiteId, pid: model.pageId})">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link" ui-sref="page({uid: model.userId, wid: model.websiteId})">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-new-website">Widgets</div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <span ng-show="model.showCreateWidgetMessage">
        <h2>{{model.createWidgetMessage}}</h2><br/>
        <a ui-sref="widget-new({uid: model.userId, wid: model.websiteId, pid: model.pageId})">New Widget</a>
    </span>

    <span wbdv-sortable page-id="{{model.pageId}}">
    <div ng-repeat="widget in model.widgets | orderBy: 'sortable'">

        <div class="jga-toolbar">
            <a ui-sref="widget-edit({uid: model.userId, wid: model.websiteId, pid: model.pageId, wgid: widget._id})">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER">
                <ng-include src="'views/widget/templates/widget-HEADER.view.client.html'"></ng-include>
            <br/>
            </div>

            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-IMAGE.view.client.html'"></ng-include>
            <br/>
            </div>
            <div ng-switch-when="HTML">
                <ng-include src="'views/widget/templates/widget-HTML.view.client.html'"></ng-include>
            <br/>
            </div>

            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <ng-include src="'views/widget/templates/widget-YOUTUBE.view.client.html'"></ng-include>
            <br/>
            </div>
            <div ng-switch-when="TEXT">
                <ng-include src="'views/widget/templates/widget-TEXT.view.client.html'"></ng-include>
            <br/>
            </div>
        </div>
    </div>

    </span>

</div>

<nav-footer-common
        uid="{{model.userId}}">
</nav-footer-common>