<div class="container-fluid">
<h1>YOUTUBE Editor</h1>

<div class="container-fluid">
    <div class="alert alert-danger fade in" ng-show="model.error">
        <a href="#" class="close" ng-click="model.alertOpenClose(model.error)">&times;</a>
        {{model.errorMessage}}
    </div>

    <div class="alert alert-success fade in" ng-show="model.success">
        <a href="#" class="close alert-close" ng-click="model.alertOpenClose(model.success)">&times;</a>
        {{model.successMessage}}<br/>
        Click <a ui-sref="widget({uid: model.userId, wid: model.websiteId, pid: model.pageId})">here</a> to view your
        Widget Page
    </div>
</div>
<div class="container">

    <form>

        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Video Name" ng-model="model.widget.name">

        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" placeholder="YouTube URL" value="URL here!"
               ng-model="model.widget.url">

        <label for="width">Width</label>
        <input type="text" class="form-control" id="width" placeholder="Video Width" value="100%"
               ng-model="model.widget.width">

        <a class="btn btn-primary btn-block"
           ng-click="model.updateWidget()">Update Video</a>
        <a class="btn btn-block btn-danger" ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>
</div>