<div class="container-fluid">
<h1>IMAGE Editor</h1>
<div class="container-fluid">
    <div class="alert alert-danger fade in" ng-show="model.error">
        <a href="#" class="close" ng-click="model.alertOpenClose(model.error)">&times;</a>
        {{model.errorMessage}}
    </div>

    <div class="alert alert-success fade in" ng-show="model.success">
        <a href="#" class="close alert-close" ng-click="model.alertOpenClose(model.success)">&times;</a>
        {{model.successMessage}}<br/>
        Click <a ui-sref="widget({uid: model.userId, wid: model.websiteId, pid: model.pageId})">here</a> to view your
        Widget Page
    </div>
</div>
<div class="container">

    <form action="/api/upload" method="POST" enctype="multipart/form-data">

        <label for="name">Name</label>
        <input name="name" value="{{model.widget.name}}" type="text" class="form-control" id="name"
               placeholder="Image Name" ng-model="model.widget.name">

        <label for="text">Text</label>
        <input name="text" value="{{model.widget.description}}" type="text" class="form-control" id="text"
               placeholder="Image Desc" ng-model="model.widget.description">

        <label for="width">Width</label>
        <input name="width" value="{{model.widget.width}}" type="text" class="form-control" id="width"
               placeholder="Image Width" value="100%"
               ng-model="model.widget.width">

        <label for="imageType">Image Upload / Image URL ?</label>
        <div class="form-group" id="imageType">
            <div class="radio">
                <label>
                    <input type="radio" name="imageURL" value="imageURL"
                           ng-click="model.imageTypeHandler(model.imageTypeURL)" ng-checked="model.imageTypeURL">
                    Image URL
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="imageURL" value="imageUpload"
                           ng-click="model.imageTypeHandler(model.imageTypeUpload)">
                    Image Upload
                </label>
            </div>
        </div>

        <span ng-if="model.showImageURLForm">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="Image URL" value="URL here!"
                   ng-model="model.widget.url">


        <a class="btn btn-primary btn-block"
           ng-click="model.updateWidget()">Update Image</a>
        </span>

        <span ng-if="model.showImageUploadForm">
            <input name="widgetId" value="{{model.widgetId}}" style="display: none"/>
            <input name="pageId" value="{{model.pageId}}" style="display: none"/>
            <input name="userId" value="{{model.userId}}" style="display: none"/>
            <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>

            <label for="uploadedImage">Upload</label>
            <input type="file" name="uploadedImage" class="form-control" id="uploadedImage">
            <button type="submit" class="btn btn-block btn-primary">Update Image</button>

        </span>

        <a class="btn btn-block btn-danger" ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>
</div>