<div class="container-fluid">
<h1>HTML Editor</h1>

<div class="container-fluid">
    <div class="alert alert-danger fade in" ng-show="model.error">
        <a href="#" class="close" ng-click="model.alertOpenClose(model.error)">&times;</a>
        {{model.errorMessage}}
    </div>

    <div class="alert alert-success fade in" ng-show="model.success">
        <a href="#" class="close alert-close" ng-click="model.alertOpenClose(model.success)">&times;</a>
        {{model.successMessage}}<br/>
        Click <a ui-sref="widget({uid: model.userId, wid: model.websiteId, pid: model.pageId})">here</a> to view your
        Widget Page
    </div>
</div>

    <form name="model.htmlEditor" ng-submit="model.updateWidget()" novalidate>
        <div class="form-group"
             ng-class="{'has-error': model.htmlEditor.$submitted && model.htmlEditor.name.$invalid}">

        <label>Name</label>
        <input ng-model="model.widget.name" name="name" class="form-control" required/>

            <span class="help-block"
                  ng-show="model.htmlEditor.$submitted && model.htmlEditor.name.$error.required">Required</span>
        </div>

<label>Text</label>

<div ng-model="model.widget.text"
     text-angular
     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
    ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
    ['indent','outdent'],['html']]">
</div>


<button type="submit" class="btn btn-block btn-primary">Update HTML</button>
<a class="btn btn-block btn-danger" ng-click="model.deleteWidget()">Delete</a>
<div>
    </form>