<div class="page_style">

    <nav class="navbar_style navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">

            <div class="navbar-text pull-left">
                <a class="navbar-link" ui-sref="page({uid: model.userId, wid: model.websiteId})">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="col-sm-4 hidden-xs navbar-left-pane">

                <div class="navbar-header">
                    <div class="navbar-new-website">Pages</div>

                    <a class="navbar-brand pull-right plus_style"
                       ui-sref="page-new({uid: model.userId, wid: model.websiteId})">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

            </div>
            <div class="col-xs-11 col-sm-8 navbar-right-pane">
                <div class="navbar-header">

                    <div class="navbar-new-website">New Page</div>
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" ng-click="model.createPage(model.page)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </nav>
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs left-pane">
            <ul class="list-group">
                <li ng-repeat="page in model.pages track by $index" class="list-group-item">
                    <a ui-sref="widget({uid: model.userId, wid: model.websiteId, pid: page._id})">
                        {{page.name}}
                    </a>
                    <a ui-sref="page-edit({uid: model.userId, wid: model.websiteId, pid: page._id})" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>

            </ul>

        </div>
        <div class="col-xs-12 col-sm-8 right-pane">
            <div class="alert alert-danger fade in" ng-show="model.error">
                <a href="#" class="close" ng-click="model.alertOpenClose(model.error)">&times;</a>
                {{model.errorMessage}}
            </div>

            <div class="alert alert-success fade in" ng-show="model.success">
                <a href="#" class="close alert-close" ng-click="model.alertOpenClose(model.success)">&times;</a>
                {{model.successMessage}}<br/>
                Click <a ui-sref="page({uid: model.userId, wid: model.websiteId})">here</a> to view your Page List
            </div>

            <form>
                <label for="name">Page Name</label>
                <input type="text" class="form-control" id="name" placeholder="Page Name" ng-model="model.page.name">

                <label for="title">Page Title</label>
                <input type="text" class="form-control" id="title" placeholder="Page Title" ng-model="model.page.title">
                <a class="btn btn-primary btn-block" ng-click="model.createPage(model.page)">Create Page</a>
            </form>
        </div>
    </div>


    <nav-footer-common
            uid="{{model.userId}}">
    </nav-footer-common>


</div>