
<div class="page_style">

<nav class="navbar_style navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">

        <div class="navbar-text pull-left">
            <a class="navbar-link" href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>





        <div class="col-sm-4 hidden-xs navbar-left-pane">

            <div class="navbar-header">
                <div class="navbar-new-website">Pages</div>

                <a class="navbar-brand pull-right plus_style" href="page-new.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>
        <div class="col-xs-11 col-sm-8 navbar-right-pane">
            <div class="navbar-header">

                <div class="navbar-new-website">New Page</div>
                <div class="navbar-text pull-right">
                    <a class="navbar-link" href="page-list.html">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>

        </div>

    </div>
</nav>
<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs left-pane">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="page-list.html">
                    Blog Post
                </a>
                <a href="page-edit.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="page-list.html">
                    Blogs
                </a>
                <a href="page-edit.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="page-list.html">
                    Home
                </a>
                <a href="page-edit.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="page-list.html">
                    About
                </a>
                <a href="page-edit.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="page-list.html">
                    Contact Us
                </a>
                <a href="page-edit.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-8 right-pane">
        <label for="name">Page Name</label>
        <input type="text" class="form-control" id="name" placeholder="Page Name">

        <label for="title">Page Title</label>
        <input type="text" class="form-control" id="title" placeholder="Page Title">

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand pull-right navbar-link" href="../user/profile.html">

                <span class="glyphicon glyphicon-user"></span>

            </a>

        </div>
    </div>
</nav>

</div>