<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" ui-sref="page-new({uid: model.userId, wid: model.websiteId})">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link" ui-sref="website({uid: model.userId})">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-new-website">Pages</div>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <ul class="list-group">


        <li ng-repeat="page in model.pages track by $index" class="list-group-item">
            <a ui-sref="widget({uid: model.userId, wid: model.websiteId, pid: page._id})">
                {{page.name}}
            </a>
            <a ui-sref="page-edit({uid: model.userId, wid: model.websiteId, pid: page._id})" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>

    </ul>

</div>

<nav-footer-common
        uid="{{model.userId}}">
</nav-footer-common>
